header{
    z-index: 3;
    position: sticky;
    top:0px;
    background-color: black;
    height: 60px;
}
.label-header{
    position: absolute;
    color: white;
    font-size: 30px;
    padding: 6px 30px;
    cursor: pointer;
    top: 0px;
}


.cont-menu{
    z-index: 2;
    background-color: black;
    box-shadow: 0px 10px 5px 0px black;
    width: 230px;
    position:absolute;
    top:48px;
    left:0;
    height: calc(100vh - 60px);
    transition: all .5 ease;
    transform: translate(-600px);
}
.urldecoration:visited{
    color:white;
}
.cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor:pointer;
}

.cont-menu ul li:hover{
    background-color: rgb(228, 228, 228);
    color:black !important;
}
#boton-check:checked ~ .cont-menu{
    position: fixed;
    transform: translate(0px);
    transition: all .5 ease;
}


#boton-check{
    display: none;
}
nav img{
    z-index: 33333;
    width: 160px;
    height: auto;
    position: absolute;
    padding: 6px 30px;
    top: -25px;
    left: 100px;
}

@media (max-width: 768px) {
    .cont-menu{
      width: 100vw;
      transform:translateX(-100%);
      transition:.4s ease;
      text-align: center;
    }
  }