.titulo-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.containerInput{
    padding: 10px 0px 0px 0px;
    text-align: center;
}


.containerInput input{
    padding:10px;
    border-radius: 5px 5px 5px 5px;
}

